/*старница студия*/

:root {
  --primary-text-color: #2196f3;
  --title-text-color: #757575;
  --accent-color: #212121;
  --primary-background: #e5e5e5;
  --main-tetle-text: #ffffff;
}

.body-common {
  color: var(--accent-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}


.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  border-bottom: 1px solid #ececec;

}

.header-container-nav {
  display: flex;
  align-items: center;
}

.header-link {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  margin-right: 93px;
}

.nav-list {
  display: flex;
}

.header-contacts {
  display: flex;
  justify-content: flex-end;
}

.nav-contacts {
  display: flex;
  margin-left: auto;
}

.nav-item {
  margin-right: 50px;
}

.nav-item:last-child {
  margin: 0;
}

.nav-link:active {
  color: var(--primary-text-color);
}

.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  
}

/*контакты хедер*/
.contacts-link{
   margin-right: 50px;
   
}

.contacts-link:last-child {
 margin-right: 0;
}


.contacts-phone:hover,
.contacts-phone:focus,
.contacts-mail:hover,
.contacts-mail:focus {
  color: var(--primary-text-color);
}

.contacts-phone,
.contacts-mail {
  display: block;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
}

.hero {
  background: #2f303a;
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
}

/*заголовок*/
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-tetle-text);
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

/*кнопка заказать услугу*/
.hero-button {
  color: var(--main-tetle-text);
  background-color: var(--primary-text-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  width: 200px;
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*секция особенности*/
.title {
  color: var(--accent-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.plan-list {
  display: flex;
}

.plan-item {
  width: 270px;
  margin-right: 30px;
font-size: 14px;
line-height: 1.7;
}

.plan-item:last-child{
  margin-right: 0;
}

  
}
/*секция план*/
.upper-title {
  font-size: 14px;
  line-height: 1.71;

}

/*Чем мы занимаемся*/
.container-list {
  display: flex;
}

.about-list {
  display: flex;
  margin-right: -30px;
  
}

.about-item {
  flex-basis: calc((100% - 3 * 60px) / 3);
  margin-right: 30px;
}

.about-item:last-child {
  margin-right: 0;
}
.about-title {
  color: var(--accent-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

/*наша команда*/

.team-section {
  background: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-list {
  display: flex;
 
}

.team-caption-list {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
  margin-right: 30px;
}

.team-caption-list:last-child {
  margin-right: 0;
}

.team-img {
  display: flex;
  flex-basis: calc((100% - 4 * 90px) / 4);
  margin-right: 30px;
}

.team-caption {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 10px;
}

.team-captiom-title{
  padding-top: 30px;
  padding-bottom: 30px;
}

/*наша команда текст*/
.team-desc {
  font-size: 16px;
  line-height: 1.18;
  color: var(--title-text-color);
 margin-bottom: 0;
  text-align: center;
}

/*футер*/
.footer {
  background: #2f303a;
  margin: 0;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-link {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  display: block;
  margin-bottom: 20px;
}

.footer-address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--main-tetle-text);
 
 margin-bottom: 9px;
}

.footer-phone,
.footer-mail {
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.footer-contacts-mail:not(:last-child) {
margin-bottom: 9px;

}






/*страница портфолио*/
:root {
  --primary-text-color: #2196f3;
  --title-text-color: #757575;
  --accent-color: #212121;
  --primary-background: #e5e5e5;
}

.body {
  color: var(--accent-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

/* логотип */
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.link-logo {
  color: var(--primary-text-color);
}

.footer-link-visible {
  color: #f5f4fa;
  font-family: Raleway;
}
.link-visible {
  color: var(--accent-color);
}

/* список ссылок навигации*/
.nav-link {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--primary-text-color);
}

/* текст */
.text {
  color: var(--title-text-color);
}

.current {
  color: #2196f3;
}

/* кнопки */
.benefits {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
 
}

.features{
  padding-top: 94px;
  padding-bottom: 94px;
}




.features-benesits:not(:last-child){
margin-right: 8px;
}


.button-benefits {
  cursor: pointer;
  color: var(--accent-color);
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  border: none;
  border-radius: 4px;
  font-family: Roboto;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;

}

.button-benefits:hover,
.button-benefits:focus {
  color: #ffffff;
  background-color: var(--primary-text-color);
}

/* навигация */
.phone,
.mail {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.phone:hover,
.phone:focus,
.mail:hover,
.mail:focus {
  color: var(--primary-text-color);
}

/* заголовок */

.list {
 display: flex;
 flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;

 
}

.list-title {
  
  flex-basis: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;
  background: #ffffff;
  box-sizing: border-box;
 
}

.subject {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin-bottom: 4px;
  
 
}

/* текст */
.list-title,
.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  
}



.list-title-subject{
 padding: 20px 24px;
 margin: 0;
 border-left: 1px solid #EEEEEE;
 border-right: 1px solid #EEEEEE;
 border-bottom: 1px solid #EEEEEE;
}

.footer-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}


img {
  display: block;
  height: auto;
}

a{
  color: var(--accent-color) ;
  text-decoration: none;
}